<div id="wdsm-container">
    <div class="wdsm-reels wdsm-reels--{{rarityColor}}" title="{{localize rarity}}">
        <span class="wdsm-reel">{{prefix}}</span>
        <span class="wdsm-reel">
            {{#if base}}
                {{base}}
            {{else}}
                {{localize 'WONDERSMITH.Placeholder'}}
            {{/if}}</span>
        <span class="wdsm-reel">{{suffix}}</span>
    </div>

    <div class="wdsm-buttons">
        <button class="wdsm-button" data-wondersmith_spinner="any">{{localize 'WONDERSMITH.SpinButton'}}</button>
        <div class="wdsm-type-buttons">
            {{#each types}}
                <button class="wdsm-button" data-wondersmith_spinner="{{this}}">{{capitalize this}}</button>
            {{/each}}
        </div>
    </div>
</div>